img {
    width: 100%;
    border-radius: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.jumbotron {
    background-color: inherit;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.jumbotron {
    background-color: inherit;
}

.panel > .panel-heading {
    background-image: none;
    background-color: grey;
    color: white;
    font-size: 20px;
}

th {
    font-size: 18px;
    text-align: center;
}

td {
    text-align: center;
}

label {
    font-size: 18px;
}

.logo {
    width: 230px;
}

.btn-primary {
    background-color: orange;
    color: black;
}
